<div class="carousel" data-ride="carousel" id="myCarousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="/images/C-Logo.png" />
      <p class="carousel-caption">
        C is High level programming Language
      </p>
    </div>

    <div class="carousel-item">
      <img src="/images/Java.png" />
      <p class="carousel-caption">
        Java is Object Oriented Programming Language
      </p>

    </div>

    <div class="carousel-item">
      <img src="/images/python.PNG" />
      <p class="carousel-caption">
        Python is very high level,Object Oriented and Dynamically typed Programming Language
      </p>
    </div>


  </div>

  <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <!-- &#128512; -->
  </a>

  <a href="#myCarousel" class="carousel-control-next" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

  <ul class="carousel-indicators">
    <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>




</div>