<%- include('../partials/myHeader.ejs') %>
<%- include('./adminNav.ejs') %>
<%- include('./adminCarousel.ejs') %>
      <section>
        <hr color="orange" size="10" />
        <h1 align="center"> Admin Home Page </h1>
        <hr color="green" size="10" />

      </section>
<%- include('../partials/myFooter.ejs') %>