<p style="padding: 20px;background-color: yellowgreen;">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, dicta dolore necessitatibus dolores pariatur quidem.
  Maxime, nulla tempora omnis doloremque aliquid recusandae porro nesciunt asperiores reprehenderit voluptatibus culpa.
  Inventore, adipisci.
</p>